@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
  --mainFont: 'Inconsolata', monospace;
  --mainColor: white;
  --blockColor: #00897B;;
  --hoverColor: #004d40;
  --fontColor: #DCE775;
  --shadowColor: slategray;
  --textShadow: black;
  --backgroundImage: url('../images/white.jpg');
  --customCursor: url('../images/mainCursor.png');
  --scHeader: url('../images/header.png');
  --btn1: url('../images/menuBtn.png');
  --btn2: url('../images/submitBtn.png');
  --btn3: url('../images/enterBtn.png');
  --scFooter: url('../images/scFooter.png');
  --cyGirlColor: #F304F0;
}


body{
  margin: 0;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
  cursor: var(--customCursor), auto;
  background-image: var(--backgroundImage);
}

/* HEADER  */
.header {
  overflow: hidden;
  background-color: var(--blockColor);
  /* padding: 0.625rem 0.625rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  font-family: var(--mainFont);
}

.header a {
  float: left;
  color: var(--fontColor);
  text-align: center;
  padding: 0.625rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.563rem;
  border-radius: 0.25rem;
}

.header a.logo {
  font-size: 1.563rem;
  font-weight: bold;
  text-shadow: var(--textShadow)
}

.header a:hover {
  background-color: var(--hoverColor);
  color: var(--fontColor);
}

.header-right {
  float: right;
  text-shadow: var(--textShadow);
  padding-top: 0.625rem;
  padding-right: 10%;
}

#art{
  height: 2rem;
  margin: 1rem;
}
/* END OF HEADER  */

/* SHOWCASE DIV  */
.showCase{
  margin: 20px;
  border: 3px groove var(--fontColor);
  padding: 10px;
}

.scHeader{
  height: 9.375rem;
  width: 43.75rem;
  /* margin-left: 50%;
  margin-right: 50%; */
  align-items: center;
  /* padding-right: 50%; */
  background-image: var(--scHeader);
  border: 0.188rem groove var(--fontColor);
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.btnShowcase{
  float: center;
  margin-left: 35%;
  margin-right: 10%;
  padding: 0.625rem;
}

.btn1{
  height: 1.875rem;
  width: 5.938rem;
  background-image: var(--btn1);
  border: 0.188rem groove var(--fontColor);
  padding: auto;
}

.btn2{
  height: 1.875rem;
  width: 5.938rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-image: var(--btn2);
  padding: auto;
  border: 0.188rem groove var(--fontColor);
}

.btn3{
  height: 1.875rem;
  width: 5.938rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  background-image: var(--btn3);
  border: 0.188rem groove var(--fontColor);
}

.scFooter{
  height: 3.125rem;
  width: 43.75rem;
  background-image: var(--scFooter);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.563rem;
  border: 0.188rem groove var(--fontColor);
}
/* END OF SHOWCASE DIV  */

/* THEME TABLE  */
table, th, td {
  border: 2px groove var(--fontColor);
  margin-left: auto;
  margin-right: auto;
}
td{
  height: 12.5rem;
  width: 12.5rem;
  /* box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor); */
}

h3{
  text-align: center;
  color: var(--fontColor);
}

#cyGirl-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#main-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#rainbow-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#steampunk-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#sunset-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#spartan-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#bee-mode{
  /* background-color: var(--cyGirlColor); */
  height: 2rem;
	width: 2rem;
  /* padding: .3rem; */
  box-shadow: 0.625rem 0.625rem 0.5rem var(--shadowColor);
  margin-left: 20%;
  margin-right: 50%;
  margin-bottom: 50%;
  text-align:center;
}

#cyDemo{
  /* text-align:center; */
  /* margin-left: 60%;
  margin-right: 30%; */
  margin-bottom: 70%;
}
/* END OF THEME TABLE  */

/* SURVEY  */

.survey{
  padding: 10px;
  margin: 20px;
  border: 2px groove var(--fontColor);
}
.surveyTitle{
  text-align: center;
  color: var(--fontColor)
}

form{
  /* padding: 3px; */
  /* text-align: center; */
  /* box-sizing: border-box; */
  /* display: inline; */
  /* float: center; */
  margin-left: 35%;
  color: var(--fontColor);
  /* margin-right: 50%; */
}

#inputs{
  /* padding: 3px; */
  /* text-align: center; */
  /* box-shadow: 0.4rem 0.4rem 0.2rem var(--shadowColor); */
  color: var(--fontColor);
}

form select{
  width: 18%;
  padding: 3px;
  color: var(--fontColor);
  /* text-align: center; */
  /* box-shadow: 0.4rem 0.4rem 0.2rem var(--shadowColor); */
}

#radio{
  /* display: inline; */
  /* text-align: left; */
  /* margin: 2px; */
  /* overflow: hidden; */
  /* padding: 2px; */
  /* float: left; */
  color: var(--fontColor);
}

#gender{
  /* float: left; */
  color: var(--fontColor);
}

textarea{
  margin-left: auto;
  margin-right: auto;
  /* float: center; */
  color: var(--fontColor);
}

.surveySubmit{
  background-color: var(--blockColor);
  border: none;
  color: var(--fontColor);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 8px;
}
/* END OF SURVEY  */